.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    height: fit-content;
    width: 85vw;
    background-color: #475d68;
    border-radius: 10px;
    box-shadow: 0.5px 1px 3px 5px  #516068 ;
    margin-top: 10%;
    margin-bottom: 2%;
}
.usersNames{
    list-style: none;
}
.fixedbar {
  position: sticky;
  top: 0;
  background-color: #475d68;
  z-index: 1000;
}


.messagecontainer {
    margin: 2% 1%;
    padding: 1%;
  }

.usermessage {
    background-color: #b9d6e9; /* or any color you prefer */
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
  }
  
  .trainermessage {
    background-color: #8caabe; /* or any color you prefer */
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
  }
  